VITE_API_BASE_URL=https://pan-backend-production-8d86.up.railway.app
VITE_GMGN_BASE_URL=https://gmgn.ai/eth/token
VITE_APP_NAME=PAN.AI
VITE_X_URL=https://x.com/PanAIApp
VITE_PONS_TOKEN_URL=https://pons.family/launchpad/YOUR_PAN_TOKEN_ADDRESS
VITE_WHITEPAPER_URL=
VITE_TELEGRAM_URL=
VITE_DISCORD_URL=
